body {
  background-image: url(/minggu-pertama/tugas-2/1600w-EQcU9lTQ_-Q.webp);
  background-size: cover;
}
#homepage {
  color: white;
  text-align: center;
  font-family: "Caveat", cursive;
}

h1 {
  font-size: 80px;
  margin-top: 200px;
}

p {
  font-size: 30px;
}
